@import '../fonts/logofont.css';
@import '../theme/palette.scss';

html {
  overflow: initial !important;
}

body {
  position: relative;
  &.light {
    /* Default */
    --color: var(--color-primary);
    --border-color: #e2e8f0;

    /* Button Variables */
    --button-bg: var(--gradient-300);
    --button-color: var(--color-white);
    --disable-button-bg: var(--color-primary-50);
    --back-button-color: var(--color-primary-300);

    /* Tabbar Variables */
    --tabbar-background: var(--gradient-300);
    --tabbar-color: var(--color-white);

    --arrow: url('../assets/arrow1.svg');
    --scroll-bar-thumb-color: rgba(226, 232, 240, 0.7);
    --footer-icon-color: var(--color-black);
    --input-select-bg: rgba(255, 255, 255, 1);

    background-image: url('../assets/bg-light.svg');
  }

  &.dark {
    /* Default */
    --color: var(--color-white);
    --border-color: rgba(255, 255, 255, 0.16);

    /* Button Variables */
    --button-bg: var(--color-white);
    --button-color: var(--color-primary);
    --disable-button-bg: var(--color-neutral-500);
    --back-button-color: var(--color-white);

    /* Tabbar Variables */
    --tabbar-background: var(--color-white);
    --tabbar-color: var(--color-primary);

    --arrow: url('../assets/arrow.svg');
    --scroll-bar-thumb-color: rgba(255, 255, 255, 0.2);
    --footer-icon-color: var(--color-white);
    --input-select-bg: #1e277d;

    background-image: url('../assets/bg-dark.svg'), var(--gradient-300);
  }

  margin: 0;
  min-height: 100vh;
  font-family: var(--font-family) !important;
  background-repeat: no-repeat;
  background-size: 70%, 100%;
  background-position: center;
  background-attachment: fixed;
  color: var(--color);
}

.default-mode-bg {
  width: 400px;
  height: 450px;
  background-image: url('../assets/characters/ladyliberty.svg'),
    url('../assets/characters/unclesam.svg'),
    url('../assets/characters/benfranklin.svg'),
    url('../assets/characters/mlk.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center bottom, left center, right center, center top;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.uw-scrollbar-lg {
  &::-webkit-scrollbar {
    width: 12px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.15);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

body.dark {
  .uw-scrollbar-lg {
    &::-webkit-scrollbar {
      background-color: rgba(255, 255, 255, 0.15);
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

.uw-scrollbar {
  &::-webkit-scrollbar {
    appearance: none;
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-thumb-color);
    border-radius: 2px;
    opacity: 0.5;
  }
}

#transakFiatOnOffRamp {
  margin-bottom: 24px;

  .transak_modal-overlay {
    display: none;
  }

  .transak_modal {
    position: initial;
    transform: none;

    .transak_close {
      display: none;
    }
  }
}

.NavBar {
  a {
    text-decoration: none;

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }
    &.active-usa-wallet-tab {
      --tabbar-color: var(--color-primary-50);
    }
  }

  svg {
    // color: var(--footerIconColor);
  }
}

.footer-icons {
  svg {
    color: var(--footer-icon-color);
    width: 34px;
    height: 34px;
  }
}

.react-select {
  &-container,
  &__control--is-focused,
  &__control--menu-is-open {
    border-radius: 10px !important;
    height: 52px !important;
    color: var(--color) !important;
    background: transparent;
    box-shadow: var(--box-shadow);
    width: 100% !important;
    border: none !important;
    font-size: 15px !important;
    line-height: 18px !important;
  }

  &__control {
    display: flex;
    border-radius: 10px !important;
    height: 52px !important;
    color: var(--color) !important;
    background-color: var(--fade-out-bg) !important;
    border: none !important;
    margin-top: 7px;
  }

  &__single-value {
    font-size: 15px !important;
    line-height: 18px !important;
    color: var(--color) !important;
    font-family: Roboto !important;
  }

  &__input-container {
    font-size: 15px !important;
    line-height: 18px !important;
    color: var(--color) !important;
  }

  &__placeholder {
    color: var(--color) !important;
    font-size: 15px !important;
    line-height: 18px !important;
    font-family: Roboto !important;
    text-align: center;
  }

  &__indicator-separator {
    display: none;
  }

  &__indicator {
    background-image: var(--arrow);
    width: 18px !important;
    height: 18px !important;
    background-repeat: no-repeat;
    margin-top: 3px !important;
    color: var(--color);
    margin-right: 10px;

    svg {
      display: none;
    }
  }

  &__menu {
    border-radius: 12px !important;
    border: none !important;
    background-color: var(--input-select-bg) !important;
    z-index: 1;
  }

  &__menu-list {
    &::-webkit-scrollbar {
      width: 5px;
      background-color: #9d9d9f;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #fff;
    }
  }

  &__option {
    padding: 15px 10px !important;
    background-color: transparent !important;
    white-space: nowrap;
    text-align: left;
    overflow-x: hidden;
    cursor: pointer;
    font-family: Roboto !important;

    &--is-selected {
      background-color: transparent !important;
      color: var(--color) !important;
    }
  }
}

.select-amount {
  display: flex;
  align-items: flex-end;
  width: 400px;
  justify-content: space-between;
  margin-top: 20px;
  label {
    font-family: Roboto !important;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
  }
}

.quote-button {
  background: linear-gradient(
    183.26deg,
    #484ba0 7.91%,
    #030943 97.93%
  ) !important;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.25) !important;
  border-radius: 25px !important;
  color: #fff !important;
  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 21px !important;
  min-width: 168px !important;
  margin-top: 52px !important;

  &.disable {
    opacity: 0.5;
  }
}

.trade-result {
  font-family: Roboto !important;
  font-style: normal;
  font-weight: 500;
  font-size: 12px !important;
  line-height: 14px !important;
  margin-top: 24px !important;
}

@media (max-width: 711px) {
  .my-custom-input {
    --styled-select-placeholder__font-size: 12px;
  }

  .custom-option {
    font-size: 12px;
  }
}
