.you-will-get {
  text-align: left;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 195px;
    height: 52px;
    background: var(--fade-out-bg);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    .text {
      font-family: var(--font-family) !important;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
    }
  }
}
