.auth-dark-bg {
  background-image: url('../../../assets/bg-dark.svg'), var(--gradient-300);
}
.authHomeButton {
  position: absolute !important;
  top: 20px;
  right: 30px;
  color: var(--color-white) !important;
}
.authInputLabel {
  color: var(--color-white) !important;
}

.authInput {
  color: var(--color-white) !important;
}
.authInput::before {
  border-color: var(--color-white) !important;
}

.auth-link {
  color: var(--color-white);
  font-size: 18px;
}

.MuiLoadingButton-loadingIndicator {
  color: var(--color-primary) !important;
}
