@import '../fonts/logofont.css';

html {
  overflow: initial !important;
}

body {
  &.light {
    --bg: linear-gradient(
      to bottom right,
      // #4299e1,
      // #fc8181,
      // #ffffff,
      // #fc8181,
      #ffffff
    );
    --borderColor: #e2e8f0;
    --color: #2A359B;
    --scrollbarThumbColor: rgba(226, 232, 240, 0.7);
    --selection-bg: rgba(255, 255, 255, 1);
    --selection-color: #2A359B;
    --arrow: url('../assets/arrow1.svg');

  }

  &.dark {
    // --bg: linear-gradient(to bottom right,
    //     #1a365d,
    //     grey,
    //     #1a365d,
    //     #808080,
    //     #1a365d);
    --borderColor: rgba(255, 255, 255, 0.16);
    --color: rgba(255, 255, 255, 0.92);
    --scrollbarThumbColor: rgba(255, 255, 255, 0.2);
    background-image: url('../assets/bg.svg');
    background-image: linear-gradient(
        222.27deg,
        #00079a -0.93%,
        #0d182c 139.51%
      ),
      url('../assets/bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    --selection-bg: #1E277D;
    --selection-color: #fff;
    --arrow: url('../assets/arrow.svg');
  }

  --boxShadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.25); //Middle M Shadow

  // --boxShadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);  Old Shadeo
  // --boxShadow: 0px 4px 10px rgba(0, 0, 0, 0.25); // XS Shadow
  // --boxShadow: 6px 6px 10px rgba(0, 0, 0, 0.25);  //Last M Shadow

  margin: 0;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-attachment: fixed;
  background: var(--bg);
  color: var(--color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.nav-bar-icon {
  font-size: 1rem !important;
}

.uw-scrollbar {
  &::-webkit-scrollbar {
    appearance: none;
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarThumbColor);
    border-radius: 2px;
    opacity: 0.5;
  }
}

#transakFiatOnOffRamp {
  margin-bottom: 24px;

  .transak_modal-overlay {
    display: none;
  }

  .transak_modal {
    position: initial;
    transform: none;

    .transak_close {
      display: none;
    }
  }
}

.NavBar {
  a {
    text-decoration: none;

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}

.my-custom-input {
  border-radius: 10px !important;
  height: 52px !important;
  --styled-select-placeholder__padding: 9px 10px 0 10px;
  --styled-select-placeholder__color: var(--selection-color);
  --styled-select-placeholder__font-size: 15px;
  --styled-select-value__color: var(--selection-color) !important;
  color: var(--selection-color) !important;
  --styled-select__color: var(--selection-color) !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.25);
  width: 400px !important;
  border: none !important;
  font-size: 15px !important;
  line-height: 18px !important;
}

.my-custom-menu {
  border-radius: 12px !important;
  --styled-select-menu__border-radius: 12px !important;
  border: none !important;
  --styled-select-option__background-color: var(--selection-bg) !important;
  --styled-select-option__background-color--focused: var(--selection-bg) !important;
  --styled-select-option__color: var(--selection-color);
  --styled-select-option__color--focused: var(--selection-color);
  --styled-select-option__color--selected: var(--selection-color);
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  background-color:  var(--selection-bg) !important;
  &::-webkit-scrollbar {
    width: 5px;
    background-color: #9D9D9F;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #fff;
  }
}
.custom-option {
  border-bottom: none;
  --styled-select-option__font-family: "Roboto" !important;
  padding: 15px 10px !important;
  background-color:  var(--selection-bg) !important;
  white-space: nowrap;
  text-align: left;
  overflow-x: hidden;
}
.korfBa {
  padding: 15px 10px !important;
}
.my-custom-arrow {
  background-image: var(--arrow);
  width: 18px !important;
  height: 18px !important;
  background-repeat: no-repeat;
  transform: none !important;
  border: none !important;
  margin-top: 3px !important;
  color: var(--color);
}

.iEjkRj {
  background-color: var(--selection-bg) !important;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.25);
  width: 400px !important;
}
.my-custom-menu1 {
  border-radius: 12px !important;
  --styled-select-menu__border-radius: 12px !important;
  border: none !important;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  height: fit-content !important;
  background-color: var(--selection-bg) !important;
  &::-webkit-scrollbar {
    width: 5px;
    background-color: #9D9D9F;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #fff;
  }
}
.select-custom-option {
  display: flex;
  align-items: center;
  padding: 12px 25px;
  background-color: rgba(255, 255, 255, 0.1) !important;
  cursor: pointer;
  span {
    color: var(--selection-color);
  }
}


@media (max-width: 711px) {
  .my-custom-input {
      --styled-select-placeholder__font-size: 12px;
  }
  .custom-option {
      font-size: 12px;
  }
} 

