@import '../fonts/logofont.css';

html {
  overflow: initial !important;
}

body {
  position: relative;

  --color-blue-50: '#76A6F8';
  --color-blue-100: '#2B79FF';
  --color-blue-300: '#005EFF';
  --color-blue-500: '#213DB0';
  --color-blue-700: '#111111';
  --color-blue-900: '#0E176B';
  --color-blue-A100: '#0A3161';

  --color-grey-50: '#FFFFFF';
  --color-grey-100: '#EDEDED';
  --color-grey-300: '#C4C4C4';
  --color-grey-500: '#ABABAB';
  --color-grey-700: '#8C8C8C';
  --color-grey-900: '#000000';

  --color-red-50: '#F54F55';
  --color-red-100: '#ED1C24';
  --color-red-300: '#B31942';
  --color-red-500: '#CB151C';

  &.light {
    --borderColor: #e2e8f0;
    --color: #2a359b;
    --scrollbarThumbColor: rgba(226, 232, 240, 0.7);
    --selection-bg: rgba(255, 255, 255, 1);
    --selection-color: #2a359b;
    --arrow: url('../assets/arrow1.svg');
    --footerIconColor: black;

    background-image: url('../assets/bg-light.svg');
  }

  &.dark {
    --borderColor: rgba(255, 255, 255, 0.16);
    --color: rgba(255, 255, 255, 0.92);
    --scrollbarThumbColor: rgba(255, 255, 255, 0.2);
    --selection-bg: #1e277d;
    --selection-color: #fff;
    --arrow: url('../assets/arrow.svg');
    --footerIconColor: white;

    background-image: url('../assets/bg-dark.svg'),
      linear-gradient(222.27deg, #00079a -0.93%, #0d182c 139.51%);
  }

  --boxShadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.25); //Middle M Shadow

  margin: 0;
  min-height: 100vh;
  font-family: Roboto !important;
  background-repeat: no-repeat;
  background-size: 70%, 100%;
  background-position: center;
  background-attachment: fixed;
  color: var(--color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.nav-bar-icon {
  font-size: 1rem !important;
}

.uw-scrollbar {
  &::-webkit-scrollbar {
    appearance: none;
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarThumbColor);
    border-radius: 2px;
    opacity: 0.5;
  }
}

#transakFiatOnOffRamp {
  margin-bottom: 24px;

  .transak_modal-overlay {
    display: none;
  }

  .transak_modal {
    position: initial;
    transform: none;

    .transak_close {
      display: none;
    }
  }
}

.NavBar {
  a {
    text-decoration: none;

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  svg {
    // color: var(--footerIconColor);
  }
}

.footer-icons {
  svg {
    color: var(--footerIconColor);
    width: 34px;
    height: 34px;
  }
}

.react-select {
  &-container,
  &__control--is-focused,
  &__control--menu-is-open {
    border-radius: 10px !important;
    height: 52px !important;
    color: var(--selection-color) !important;
    background: transparent;
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.25);
    width: 100% !important;
    border: none !important;
    font-size: 15px !important;
    line-height: 18px !important;
  }

  &__control {
    display: flex;
    border-radius: 10px !important;
    height: 52px !important;
    color: var(--selection-color) !important;
    background-color: rgba(45, 50, 148, 0.1) !important;
    border: none !important;
  }

  &__single-value {
    font-size: 15px !important;
    line-height: 18px !important;
    color: var(--selection-color) !important;
    font-family: Roboto !important;
  }

  &__input-container {
    font-size: 15px !important;
    line-height: 18px !important;
    color: var(--selection-color) !important;
  }

  &__placeholder {
    color: var(--selection-color) !important;
    font-size: 15px !important;
    line-height: 18px !important;
    font-family: Roboto !important;
  }

  &__indicator-separator {
    display: none;
  }

  &__indicator {
    background-image: var(--arrow);
    width: 18px !important;
    height: 18px !important;
    background-repeat: no-repeat;
    margin-top: 3px !important;
    color: var(--color);
    margin-right: 10px;

    svg {
      display: none;
    }
  }

  &__menu {
    border-radius: 12px !important;
    border: none !important;
    background-color: var(--selection-bg) !important;
  }

  &__menu-list {
    &::-webkit-scrollbar {
      width: 5px;
      background-color: #9d9d9f;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #fff;
    }
  }

  &__option {
    padding: 15px 10px !important;
    background-color: transparent !important;
    white-space: nowrap;
    text-align: left;
    overflow-x: hidden;
    cursor: pointer;
    font-family: Roboto !important;

    &--is-selected {
      background-color: transparent !important;
      color: var(--color) !important;
    }
  }
}

.select-amount {
  display: flex;
  align-items: flex-end;
  width: 400px;
  justify-content: space-between;
  margin-top: 20px;
}

.quote-button {
  background: linear-gradient(
    183.26deg,
    #484ba0 7.91%,
    #030943 97.93%
  ) !important;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.25) !important;
  border-radius: 25px !important;
  color: #fff !important;
  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 21px !important;
  min-width: 168px !important;
  margin-top: 52px !important;

  &.disable {
    opacity: 0.5;
  }
}

.trade-result {
  font-family: Roboto !important;
  font-style: normal;
  font-weight: 500;
  font-size: 12px !important;
  line-height: 14px !important;
  margin-top: 24px !important;
}

@media (max-width: 711px) {
  .my-custom-input {
    --styled-select-placeholder__font-size: 12px;
  }

  .custom-option {
    font-size: 12px;
  }
}
